.hidden {
  display: none;
}

.login {
  margin-top: 50px !important;
  padding:    40px !important;
}

.login input[type='submit'] {
  margin-top: 40px;
}

.general-info h4 {
  margin-top: 1px;
}

.top-part h1 {
    margin-left: 1em;
}

.location-search-button {
  margin: 0;
}

#random-search {
  margin: 0;
}

.note-container {
  width: 100%;
  overflow-x: auto;
  height: 300px;
}

.note-part {
  float: left;
  margin-right: -999em;
}

#note-form-div {
  display: inline-block;
  width: 350px;
  vertical-align: bottom;
}

#note-edit-form {
  display: block;
  clear: both;
  max-height: 250px;
}

.main {
  margin-top: 30px;
}


/* Note Inputs */
#save-note {
  display: block;
  clear: both;
}

.card-title {
  font-size: 1em;
  color: black;
}
